.contacto{
    background: var(--color-3er-fondo);
    padding: 1rem;
}
.contacto__logo--caja a{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: center;
}
.contacto__logo--caja__imagen{
    background: url("../img/logo.png") no-repeat center / cover;
    width: 40px;
    height: 29px;
    margin-right: 0.2rem;
}
.contacto__logo--caja__titulo{
    font-weight: 900;
    font-size: 22px;
    line-height: 16px;
}
.contacto__logo--caja__titulo:nth-child(even){
    color: var(--color-2do)
}
.contacto__link--caja{
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
}
.contacto__link--caja__link{
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.5s;
}
.contacto__link--caja__link:hover{
    font-weight: 700;
    font-size: 25px;
}
.fcontacto__caja {
    width: 100%;
}

.fcontacto__caja__titulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0.5rem;
}

.fcontacto__form__boton{
    padding: 1rem 1rem;
    background: #2A7AE4;
    color:#ffffff;
    border:none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
/*?------------------------Input-----------------------------------  */
.fcontacto__form__input-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.input:focus {
    outline: none;
}

.input-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

/*?-----------------------TextArea------------------------------------  */
.fcontacto__form__textarea-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;    
}

.textarea {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    width: 100%;
    resize: none;
}

.textarea::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown)+.textarea-label,
.textarea:focus+.textarea-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}
/*?---------------------Select--------------------------------------  */
.fcontacto__form__select-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;    
}

.select {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    width: 100%;
    resize: none;
}

.select::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.select:focus {
    outline: none;
}

.select-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.select:not(:placeholder-shown)+.select-label,
.select:focus+.select-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

/*?---------------------------Mensaje Error ------------------ */
.input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input,
  .input-container--invalid .textarea,
  .input-container--invalid .select{
    border: 1px solid red;
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label,
  .input-container--invalid .textarea-label,
  .input-container--invalid .select-label {
    color: red;
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    color: red;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

/* ? MediaQuery */

@media screen and (min-width:768px){
    .contacto{
        display: flex;
        padding: 2rem 2rem;
    }
    .contacto--contenedor{
        width: 233px;        
    }
    .contacto__logo--caja a{
        justify-content: flex-start;
    }
    .contacto__link--caja {
        align-items: flex-start;
    }
    .fcontacto__caja {
        width: 450px;
    }
}
@media screen and (min-width:992px){
    .contacto{        
        padding: 2rem 9.5rem;
    }
    .contacto--contenedor{
        display: flex;
        align-items: flex-start;
        width: 576px;
        justify-content: space-between;
    }
    .contacto__link--caja{
        width: 288px;
    }
    .contacto__link--caja__link{
        padding-bottom: 1.5rem;
    }
    .fcontacto__caja {
        width: 560px;
    }
}