.categoria{
    padding: 1rem;
}
.categoria--cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.categoria--cabecera__titulo{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.categoria--cabecera__link{
    color: var(--color-2do);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width:75px;    
}
.categoria--cabecera__link--imagen{
    width: 12px;
    height: 12px;
}
.categoria--body{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.categoria--body__caja{
    width: 148px;
}
.categoria--body__caja__imagen img{
    height: 174px;
    width: 148px;
}
.categoria--body__caja__titulo{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-top: 0.5rem;
}
.categoria--body__caja__texto{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-top: 0.5rem;
}
.categoria--body__caja__link{
    color: var(--color-2do);
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}
@media screen and (min-width:768px){
    .categoria{
        padding: 2rem;
    }
    .categoria--body__caja{
        width: 160.5px;
    }
    .categoria--body__caja__imagen img{
        width: 100%;
    }
}
@media screen and (min-width:992px){
    .categoria{
        padding: 2rem 9.5rem;
    }
    .categoria--body__caja{
        width: calc(100%/6.5);
    }
    .categoria--body__caja__imagen img{
        width: 100%;
    }
}